<div class="container">
	<div style="margin-top: 1rem; margin-bottom: 1rem" class="text-right">
		<button class="btn btn-success" id="usr--add" data-toggle="modal" data-target="#exampleModal">+ Usuario</button>
	</div>
	<table class="table">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Apellido</th>
				<th>Email</th>
				<th>Telefono</th>
				<th></th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</div>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <form class="modal-dialog" role="document" id="form--usuario">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Usuario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      	<input type="hidden" name="id" class="form-control">
    	<br>
    	<input type="text" name="nombre" class="form-control" placeholder="Nombre">
    	<br>
    	<input type="text" name="apellido" class="form-control" placeholder="Apellido">
    	<br>
    	<input type="email" name="email" class="form-control" placeholder="Email">
    	<br>
    	<input type="text"  name="telefono" class="form-control" placeholder="Telefono">
    	<br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
      </div>
    </div>
  </form>
</div>