<div class="container">
	<!-- LOGO -->
	<div class="text-center">	
		<img src="https://www.ejemplos.co/wp-content/uploads/2015/11/Logo-Chanel.jpg">
	</div>
	<!-- INPUT USUARIO -->
	<form id="form--login">
		<div>
			<input type="text" id="usuario" placeholder="Usuario">
			<br>
		</div>
		<!-- INPUT CLAVE -->
		<div>
			<input type="password" id="clave" placeholder="Clave">
			<br>
		</div>

		<!-- BOTON -->
		<div>
			<button type="submit" id="btn--submit" class="col-12">Ingresar</button>
		</div>
	</form>
</div>