<form>
	<h4>LOGIN</h4>
	<input type="text" ng-model="userLogin.user" class="form-control">
	<br>
	<input type="password" ng-model="userLogin.psw" class="form-control">
	<br>
	<p>{{error}}</p>
	<button ng-click="login()" class="btn btn-success">Enviar</button>
</form>