<div style="margin-top: 2rem;" class="container">
	<form>
		<input type="text" class="form-control" placeholder="Nombre" ng-model="user.nombre">
		<br>
		<input type="text" class="form-control" placeholder="Usuario" ng-model="user.usuario">
		<br>
		<input type="text" class="form-control" placeholder="Tipo" ng-model="user.tipo">
		<br>
		<!-- <input type="text" class="form-control" placeholder="imgProfile" ng-model="user.imgProfile"> -->
		<br>
		<input type="file" ng-model="user.imgProfile" class="form-control" base-sixty-four-input>
		<br>
		<img ng-src="{{ 'data:image/jpeg;utf8;base64,' + user.imgProfile.base64 }}">
		<br>
		<div class="alert alert-danger" role="alert" ng-if="error">
		  {{error}}
		</div>
		<div class="alert alert-success" role="success" ng-if="success">
		  {{success}}
		</div>
		<button class="btn btn-success" ng-click="guardar();">Crear</button>
		<button class="btn btn-default" ui-sref="usuarios">Volver</button>
	</form>
</div>