<div style="margin-top: 2rem;">
	<h4 style="margin-bottom: 1rem;">Usuarios <button class="btn btn-primary float-right" ui-sref="usuarioNew">+ Usuairo</button></h4>
	<table class="table" ng-show="!mostrarForm">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Usuario</th>
				<th>Tipo</th>
				<th></th>
			</tr>
			<tr>
				<th colspan="4">
					<input type="text" class="form-control" placeholder="Buscar por nombre" ng-model="filtro">
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="usuario in usuarios | filter: filtro">
				<td>{{usuario.id}}</td>
				<td>{{usuario.nombre}}</td>
				<td>{{usuario.usuario}}</td>
				<td>{{usuario.tipo}}</td>
				<td>
					<button class="btn btn-secondary" ui-sref="usuarioEdit({id: usuario.id})">Editar</button>
				</td>
			</tr>
		</tbody>
	</table>
</div>